.dashboard {
  min-height: 100vh;
  /* background-color: rgb(19, 19, 135); */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  background-color: rgba(13, 62, 174, 0.782);
}

/* dashboardAndSidebarContainer */
.dashboardAndSidebarContainer {
  display: flex;
  flex: 1;
}

.dashboard .no-board-image {
  margin: 100px auto;
  max-width: 300px;
}

.dashboard .no-board-text {
  color: white;
  font-size: 20px;
  margin: 0px auto;
  text-align: center;
}

.taskBoardContainer {
  padding: 50px;
  display: flex;
  flex: 1;
  overflow-x: auto;
}

@media screen and (max-width: 1111px) {
  .dashboardAndSidebarContainer {
    display: block;
  }
  .taskBoardContainer {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
