.dashboard {
  height: 100vh;
  /* background-color: rgb(19, 19, 135); */
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
}

/* dashboardAndSidebarContainer */
.dashboardAndSidebarContainer {
  display: flex;
  flex: 1;
}

.taskBoardContainer {
  background-color: rgba(13, 62, 174, 0.782);
  padding: 50px;
  display: flex;
  flex: 1;
  overflow-x: auto;
}

@media screen and (max-width: 1111px) {
  .dashboardAndSidebarContainer {
    display: block;
  }
  .taskBoardContainer {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
