.home {
  text-align: center;
  background-color: rgba(13, 62, 174, 0.782);
  height: 100vh;
}

.home .intro-text h3 {
  font-size: 5rem;
  color: white;
}

.home .intro-text p {
  color: white;
  font-size: 2rem;
}

.home .intro-text {
  margin-top: 100px;
}

.home .cta-button {
  font-size: 22px;
  font-weight: bolder;
  margin-top: 20px;
  font-style: italic;
  box-shadow: 0 5px #666;
}

.home .cta-button:active {
  box-shadow: 0 0px #666;
}
