.taskCard {
  background-color: grey;
  color: white;
  box-shadow: 0px 2px 1px black;
  margin-bottom: 15px;
  border-radius: 10px;
}

.taskCard .mainContent {
  padding: 10px;
  word-wrap: break-word;
}

.taskCard .heading {
  display: flex !important;
  align-items: center;
}

.taskCard .heading .edit {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.taskCard .bottom {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  font-size: 1.3rem;
}

.taskCard .bottom .delete {
  cursor: pointer;
  background-color: var(--primary);
  height: 100%;
  padding: 5px 15px;
  border-bottom-right-radius: 10px;
}

.taskCard .bottom .commentsCount {
  cursor: pointer;
  padding: 5px 15px;
  background-color: var(--primary);
  border-bottom-left-radius: 10px;
}

.taskCard .heading .name {
  font-size: 2rem;
}

.taskCard .time {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.taskCard .description p {
  font-size: 15px;
}

@media screen and (max-width: 1111px) {
  .taskCard {
    min-width: 300px;
    margin: 5px;
  }
}
