.taskCard {
  background-color:rgb(7, 86, 125);

  color: white;
  box-shadow: 0px 3px 5px black;
  margin-bottom: 15px;
}

.taskCard .mainContent{
  padding: 10px;
  word-wrap: break-word;
}

.taskCard .heading{
  display: flex !important;
  align-items: center;
}

.taskCard .heading .edit{
  display: flex;
  align-items: center;
  cursor: pointer;
}



.taskCard .bottom{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  font-size: 1.3rem;
}

.taskCard .bottom .delete{
  cursor: pointer;
  background-color: rgb(0, 21, 255);
  height: 100%;
  padding: 5px 15px;
}

.taskCard .bottom .commentsCount{
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgb(0, 34, 255);
}

.taskCard .heading .name {
  font-size: 2rem;
}

.taskCard  .time{
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.taskCard .description p{
  font-size: 1.4rem;
}

@media screen and (max-width: 1111px) {
  .taskCard{
    min-width: 300px;
    margin: 5px;
  }
}